# Logs de simulador
*.log
# Archivos temporales extraídos
pdf_text.txt
# MacOS
.DS_Store
Docs/explicacion_practica.md
Docs/memoria.*
# Archivos de datos generados
*.parquet
# Archivos de Python
__pycache__/
*.pyc
